.commo-btn{
    background-color: var(--bg-color, var(--white-color));
    padding: 13px 53px;
    border-radius: 999px;
    margin: 2px;
    color: var(--color, var(--blue-heading));
}
.commo-btn-arrow{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    width: fit-content;
    padding: 14px 15px;
    transform: rotate(-33deg);
    transition: transform 0.6s ease;
    background-color: var(--bg-color, var(--white-color));
    color: var(--color, var(--blue-heading));
}
.commo-btn-arrow:hover {
     transform: rotate(0deg);   
}
.common-arrow-icon{
    font-size: 80px;
    transform: rotate(180deg);
    color: var(--color, var(--white-color));
    cursor: pointer;
}
.common-arrow-icon .fa-solid{
     transform: rotate(90deg);
      font-weight: 600;
     
}
.page-header-btn{
    background-color: var(--black-color);
    width: fit-content;
    padding: 40px 29px;
    border-radius: 999px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.arrow-img{
    width: 30px !important;;
    height: 30px;
}
.bg-white{--bg-color: var(--white-color);}
.bg-black{--bg-color: var(--black-color);}
.btn-color-white{--color: var(--white-color);}
.btn-color-black{--color: var(--black-color);}
