header{
position: fixed;
top: 0;
left: 0;
right: 0;
width: 100%;
padding: 0 60px;
display: flex;
justify-content: space-between;
z-index: 99999;
align-items: center;
margin-top:15px;
}
header .commo-btn {
    transition: z-index 0.3s ease;
}

header .commo-btn.lowered {
    display: none;
}.menu-icon{
    cursor: pointer;
    margin-left: 40px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-icon.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Mega Menu Styles */
.mega-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #222222;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mega-menu.active {
    opacity: 1;
    visibility: visible;
}

.mega-menu-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
}

.mega-menu-close {
    position: fixed;
    top: 30px;
    right: 60px;
    background: none;
    border: none;
    font-size: 48px;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
}

.mega-menu-close.active {
    opacity: 1;
    visibility: visible;
}

.mega-menu-close:hover {
    color: var(--blue-heading, #307ABD);
}

.mega-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mega-menu-list li a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: var(--title-font-light);
    transition: color 0.3s ease;
}
.mega-menu-list li a:hover {
    color: var(--blue-heading, #307ABD);
}
/* Submenu styles */
/* .has-submenu {
    position: relative;
} */
.submenu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 2.5rem;
    font-family: var(--title-font-light);
    cursor: pointer;
}
.submenu {
    max-height: 0;
    overflow: hidden;
    display: none;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    margin-top: 10px;
}
.submenu.open {
    max-height: 400px;
    display: block;
    position: absolute;
    top:0;
    right:0;
    padding: 20px 60px 64px;
    border-left: 1px solid #fff;
}
.submenu-title {
    color: var(--white-color);
    font-size: 1.25rem;
    margin-bottom: 12px;
}

.submenu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.submenu-list a {
    color: #ddd;
    text-decoration: none;
    font-size: 1.125rem;
}

.submenu-list a:hover {
    color: var(--blue-heading);
}
.mega-menu-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, 100px);

}
.footer-content{
    display: flex;
    gap:20px;
}